ul.toc {
    padding-left: 0;
    font-size: .85rem;
    font-weight: lighter;
    margin-bottom: 0;
}

ul.toc > li.toc-item {
    margin-bottom: .6em;
}

ul.toc > li.toc-item > a {
    font-weight: 400;
    color: #6d6d6d;
}

ul.toc ul {
    padding-left: 15px;
}

ul.toc li {
    list-style: none;
}

ul.toc a {
    color: #77757a;
    display: inline-block;
    line-height: 1.15em;
    padding: 5px 0;
}

.hwsc-sidebar {
    height: calc(100vh - 3.5em);
    width: 100%;
    top: 3.55rem;
    overflow-y: scroll;
}

.hwsc-side-menu {
    font-size: .93em;
    height: calc(100vh - 3.77em);
}
.toc-header {
    color: #6d6d6d;
}

h1.hwsc-title {
    border-bottom: none !important;
    font-size: 2.4em;
    font-weight: 400;
}

header.d-flex.justify-content-between.sticky-top.px-3.py-2.border-bottom.bg-white {
    z-index: 1021;
}

#navbarSupportedContent ul.navbar-nav > li {
    margin-bottom: 5px;
}

#navbarSupportedContent ul.navbar-nav > li > a:first-child {
    color: #545454;
    font-size: 1.06em;
    font-weight: 600;
    padding-bottom: 0px;
}

#navbarSupportedContent ul.navbar-nav > li > ul > li > a {
    color: #757575;
    font-size: .95em;
    padding-top: 3px;
    padding-bottom: 3px;
    
}
#navbarSupportedContent ul.navbar-nav > li > ul > li > a:hover {
    text-decoration: underline;
}

@media (max-width: 991px) {
    .navbar-toggler  {
        margin-left: auto;
        
    }
    .hwsc-side-menu {
        background: white;
        height: auto !important;
        max-width: 100% !important;
        flex: 0 0 100% !important;
        border-right: none !important;
    }
    .hwsc-flex-container {
        flex-wrap: wrap !important;
    }
    #navbarSupportedContent.collapse.show {
        width: 100%;
        border-bottom: 1px solid #dee2e6!important;
        padding-bottom: 40px;
    }
}