ul.toc {
    padding-left: 0px;
    font-size: .85rem;
    font-weight: lighter;
}

ul.toc > li:first-child {
    margin-bottom: .3em;
}

ul.toc ul {
    padding-left: 15px;
}

ul.toc li {
    list-style: none;
}

ul.toc a {
    color: #77757a
}

.toc-container {
    height: 100%;
    top: 5.1rem;
    width: 100%;
    max-width: 190px;
}

.toc-header {
    color: #6d6d6d;
}

.markdown-body h1, .markdown-body h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: .3em;
}

.markdown-body h1 {
    font-size: 2em;
}

.markdown-body h2 {
    font-size: 1.5em;
}

.markdown-body h3 {
    font-size: 1.25em;
}

.markdown-body h6 {
    color: #6a737d;
    font-size: .85em;
}
.markdown-body h4 {
    font-size: 1em;
}
.markdown-body h5 {
    font-size: .875em;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
}

.markdown-body code, .markdown-body tt {
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
}

.markdown-body>:last-child {
    margin-bottom: 0!important;
}

.markdown-body blockquote {
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
}

.markdown-body .highlight pre, .markdown-body pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}

.markdown-body pre {
    word-wrap: normal;
}
.markdown-body blockquote, .markdown-body dl, .markdown-body ol, .markdown-body p, .markdown-body pre, .markdown-body table, .markdown-body ul {
    margin-bottom: 16px;
    margin-top: 0;
}
.markdown-body pre>code {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    white-space: pre;
    word-break: normal;
}