---
layout: default
---
<div class="d-flex row flex-nowrap hwsc-flex-container">
  <div class="d-xl-block col-md-2 sticky-top hwsc-sidebar border-right hwsc-side-menu">
    <nav class="align-items-start navbar navbar-light flex-column navbar-expand-lg px-0 bg-white">

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
        <ul class="navbar-nav flex-column" id="hwsc-services">
        </ul>
      </div>
    </nav>
  </div>
  <div class="px-5 pt-4 markdown-body">
    <h1 class="hwsc-title">{{ page.title }}</h1>
    {{ content }}
  </div>
  <div class="d-none d-xl-block col-md-2 sticky-top hwsc-sidebar">
    <div class="border-left pl-4 pr-1 py-4">
      <h6 class="toc-header">Page Contents</h6>
      {% include toc.html html=content class="toc border-left sticky-top" item_class="toc-item" h_min=2 h_max=3 %}
    </div>
  </div>
</div>